
<div class="form-group mt-3">
  <%= simple_form_for @participant do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
