<%# <h1><span data-controller="typed-js"></span></h1> %>
<div class="text-center">
  <h1>Secret Santa</h1>
  <h3>It's that time of year again</h3>
  <%=link_to "Step into Christmas",participants_path, class:"btn btn-success m-5 px-5"%>
</div>
